@import "tailwindcss";
@import "@/styles/maplibre-gl.css";

@font-face {
	font-family: "Figtree";
	src: url("/fonts/Figtree-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Figtree";
	src: url("/fonts/Figtree-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@theme {
	--font-sans: "Figtree", ui-sans-serif, system-ui, sans-serif;

	--color-container: #fafafa;
	--color-text: #2b2b2b;
	--color-disabled: #cccccc;
	--color-primary-10: #d7f1e5;
	--color-primary-20: #bce8d3;
	--color-primary-30: #9bddbd;
	--color-primary-40: #7ad1a7;
	--color-primary-50: #58c691;
	--color-primary: #37ba7b;
	--color-primary-60: #2e9b67;
	--color-primary-70: #257c52;
	--color-primary-80: #1c5d3e;
	--color-primary-90: #123e29;
	--color-primary-100: #0b2519;
	--color-secondary: #02321c;
	--color-tertiary: #02321c;
}

#maplibregl {
	font-family: var(--font-sans);
}

#maplibregl .maplibregl-control-container details {
	background-color: transparent;
	padding: 0;
}

#maplibregl .maplibregl-ctrl-attrib a {
	@apply text-container/70;
}
